server {
    listen      80;
    listen      [::]:80;
    server_name .{{ item.server_name }};
    set         $base {{ item.root }};
    root        $base{{ item.public | default('') }};
    index       index.php;

    access_log /var/log/nginx/{{ item.server_name }}_access.log combinedt;
    error_log /var/log/nginx/{{ item.server_name }}_error.log warn;

{% if item.noindex is defined and item.noindex %}
    add_header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
{% endif %}

    include     nginxconfig.io/security.conf;

    location / {
{% if item.htpasswd is defined and item.htpasswd | length > 0 %}
        auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
{% endif %}


        limit_req zone=main burst=20 delay=10;
        try_files $uri $uri/index.html /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ item.php_version }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    include     nginxconfig.io/general.conf;
}